---
layout: handbook-page-toc
title: "Ops Section Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

These pages are part of our centralize [Engineering Metrics Dashboards](/handbook/engineering/metrics/)

### Child Pages
* [Verify Stage Dashboards](/handbook/engineering/metrics/ops/verify)
* [Package Stage Dashboards](/handbook/engineering/metrics/ops/package)
* [Configure Stage Dashboards](/handbook/engineering/metrics/ops/configure)
* [Monitor Stage Dashboards](/handbook/engineering/metrics/ops/monitor)
* [Release Stage Dashboards](/handbook/engineering/metrics/ops/release)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "sub_department", filter_value: "ops" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Verify" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Package" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Release" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Configure" } %>

<%= partial "handbook/engineering/metrics/partials/child_dashboard.erb", locals: { filter_type: "stage", filter_value: "Monitor" } %>
